:root {
  --qfield-color: #80cc28;
}

body {
  padding-top: 120px;
  /* background-color: #f4f4f4; */
}

#navbar {
  margin-bottom:0px !important;
  height: 100px;
  background-color: var(--qfield-color);
  border:0;
  font-family:TruenoLight;
}

#navbar .open>a, #navbar .open>a:hover, #navbar .open>a:focus {
  background-color:rgba(0, 0, 0, 0.2);
}

div.navbar li a {
  padding: 10px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color:var(--qfield-color);
}

@media (min-width: 768px) {
 .navbar-nav {
   height:100px;
 }

 .navbar-nav>li {
   float:none;
   display:table-cell;
   height:100px;
   vertical-align:middle;
   font-weight:bold;
 }
}

.navbar-default .navbar-toggle {
  margin-top:30px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
  color: #FFF !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFF !important;
  text-decoration:underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF !important;
}

span.menuselection {
  background-color: #ddd;
  border-radius: 3px;
  padding: 2px 4px;
}

span.shadow-background {
  position: fixed;
  top: 12px;
}

.navbar-brand {
  height: 100%;
  overflow: hidden;
  color: #FFF !important;
  font-size:25px;
}

.navbar-brand img {
  display:inline-block;
  height: 70px;
  width: 70px;
}

footer.footer {
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

#maincarousel {
  position:relative;
  margin-top:-20px;
  margin-bottom:70px;
  height:580px;
}

.carousel-inner {
  height:100%;
}

.carousel-inner > .item {
  height:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}

.carousel-caption {
  bottom:100px;
  text-align: left;
}

.carousel-caption > div {
  float:right;
  padding:20px;
  border-radius:20px;
  background-color:rgba(33,33,33,0.66);
  color: #ffffff;
  font-size:24px;
}

.carousel-caption h3 {
  margin-top:4px;
}

#main-points p, #customers p, #testimonials p{
text-align: justify;
}

#main-points {
    margin-bottom:70px;
}

.point { 
  background: white;
  height: auto;  
  margin: 50px 50px 80px 50px; 
  position: relative;
  box-sizing: border-box;
}

.point img {
 width:220px;
 max-width:100%;
}

#customers {
  background-color: #ddd;
  padding: 3em 0;
}

#customers>h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#customers .customer-logos {
  margin-bottom: 2em;
}

#customers .customer-logos img {
  width: 6em;
  height: 6em;
  object-fit: contain;
  padding: 1.5em;
  transition: all 0.2s linear, padding 0.5s ease-in-out;
  margin: 0 0.5em;
  filter: grayscale(100%);
  border-radius: 20px;
}

#customers .customer-logos img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  background-color: #fff;
}

#customers .customer-logos img.customer-active {
  filter: grayscale(0%);
  padding: 1.25em;
  /* animation of padding change */
  transition: all 0.5s ease;
  background-color: #fff;
}

#customers .customer-card {
  display: none;
  transition: opacity 2s ease;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

#customers .customer-card.customer-active {
  display: block;
  animation: fadeIn 1s;
  opacity: 1;
}

#customers .customer-image {
  display: none;
}

#customers .customer-image.customer-active {
  display: block;
  animation: fadeIn 1s;
  opacity: 1;
}

#customers hr {
  border-color: #212121;
  width: 50%;
  margin-bottom: 0;
}

#customers .customer-image {
  position: relative;
}

#customers .customer-image img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio : 1 / 0.66;
  object-fit: cover;
}

#customers .customer-image a {
  position: absolute;
  right: 2em;
  bottom: 2em;
  font-family: TruenoLight;
  background-color: var(--qfield-color);
  color: #fff;
  border-color: #ddd;
}

#customers .customer-image a:hover {
  border-color: #fff;
}

#testimonials {
  padding: 3em 0;
}

#testimonials>h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#testimonials .testimonials-container {
  max-width:1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#testimonials .testimonial {
  padding-bottom: 2em;
}

#testimonials .testimonial hr {
  border-color: #212121;
  width: 50%;
  margin-bottom: 0;
}

#testimonials .stars {
  color: #212121;
}
#testimonials cite, #customers cite {
  font-size: 0.8em;
  float: right;
}

#about { 
  background-color: #212121;
  height: auto;
  margin: 0 auto 0px auto;
  width: 100%; 
  position: relative; 
  padding: 100px 0;
  color: #fff;
}

#about a, #about a:visited, #about a:focus {
  color:var(--qfield-color);
}

#about a:hover {
  color:var(--qfield-color);
  text-decoration:underline;
}

.media-object { width: 64px; height: 64px; padding-bottom: 30px }


/* CORNER RIBBON STYLING */

.corner-ribbon{
  width: 400px;
  color: #fff;
  position: fixed;
  text-align: center;
  top: 40px;
  line-height: 40px;
  z-index: 100000;
  background-color: #4c6dac;
}
.corner-ribbon a{
  color: #fff;
}
.corner-ribbon.right{
  right: -100px;
  left: auto;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.feature {
  padding: 3rem 1.5rem;
  height: 100%;
}

div.feature h2, div.feature p {
 color: rgb(33, 33, 33) !important;
}

div.feature img {
 width:150px;
}

@font-face {
  font-family: 'TruenoLight';
      src: url('../fonts/TruenoLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* sdgs page */
.sdg {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  clear: both;
}

.sdg img {
  float: left;
  margin-right: 20px;
}

.sdg h3 {
  text-align: left;
  margin-top: 0;
}

.sdg p.learn-more{
  text-align: right !important;
  font-weight: bolder;
}

#sdgs h2 {
  text-align: left;
}

#partner img {
  margin: 10px;
}