:root {
  --qfield-color: #80cc28;
}

body {
  padding-top: 120px;
  font-family: "bio-sans", sans-serif;
  font-size: 13pt;
font-weight: 300;
}

#navbar {
  margin-bottom:0px !important;
  height: 100px;
  background-color: white;
  border:0;
  font-family:"bio-sans";
  font-size: 12pt;
  border-bottom: 1px solid rgba(128, 204, 40, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01);
}

#navbar ul {
  float: right;
}

#navbar .open>a, #navbar .open>a:hover, #navbar .open>a:focus {
  background-color:rgba(0, 0, 0, 0.2);
}

div.navbar li a {
  padding: 10px !important;
}

#navbarNav.in {
  background-color:white;
}

.navbar-default .navbar-form {
  background-color:white;
  border-bottom: 2px solid rgba(128, 204, 40);
}



@media (min-width: 768px) {
.navbar-nav {
  height:100px;
}

.navbar-nav>li {
  float:none;
  display:table-cell;
  height:100px;
  vertical-align:middle;
  font-weight: normal;
}
}

.navbar-default .navbar-toggle {
  margin-top:30px;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
  color: #80cc28;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #80cc28 !important;
  text-decoration:underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #80cc28 !important;
}

span.menuselection {
  background-color: #ddd;
  border-radius: 3px;
  padding: 2px 4px;
}

span.shadow-background {
  position: fixed;
  top: 12px;
}

.navbar-brand {
  height: 100%;
  overflow: hidden;
  color: #80cc28 !important;
  font-size:25px;
}

.navbar-brand img {
  display:inline-block;
  height: 70px;
  width: 70px;
}

footer.footer {
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #80cc28;
}

/* body:not(:has(#maincarousel)) {
  background-image: url('../images/transparent-curves-bg.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 30%;
} */

#maincarousel {
  position:relative;
  margin-top:-20px;
  margin-bottom:70px;
  height:580px;
}

.carousel-inner {
  height:100%;
}

.carousel-inner > .item {
  height:100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}

.carousel-caption {
  bottom:100px;
  text-align: left;
}

.carousel-caption > div {
  float:right;
  padding:20px;
  border-radius:20px;
  background-color:rgba(33,33,33,0.66);
  color: #ffffff;
  font-size:24px;
}

.carousel-caption h3 {
  margin-top:4px;
}

/* smaller version */
#maincarousel.small-carousel {
  height: 280px;
}

#maincarousel.small-carousel .carousel-caption {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}

/*main poinst*/
#main-points p, #customers p, #testimonials p{
text-align: justify;
font-size: 13pt;
}

#assistance #supportus p{
  text-align: center;
  font-size: 13pt;
  }

#main-points {
    margin-bottom:70px;
}

#support-points p {
  text-align: justify;
  justify-content: center;
}

.point {
  background: white;
  height: auto;
  margin: 50px 50px 80px 50px;
  position: relative;
  box-sizing: border-box;
}

.point img {
  width:220px;
  max-width:100%;
}

#customers {
  background-color: #f2f2f2;
  background-image: url('../images/bg/footer.jpg');
  background-size: cover !important;
  padding: 3em 0;
}

#about {
  background-color: #f2f2f2;
  background-image: url('../images/bg/footer.jpg');
  background-size: cover !important;
}

#customers>h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#customers .customer-logos {
  margin-bottom: 2em;
}

#customers .customer-logos img {
  width: 5em;
  height: 5em;
  object-fit: contain;
  padding: 1.5em;
  transition: all 0.2s linear, padding 0.5s ease-in-out;
  margin: 0 0.5em;
  filter: grayscale(100%);
  border-radius: 20px;
}

#customers .customer-logos img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  background-color: #fff;
}

#customers .customer-logos img.customer-active {
  filter: grayscale(0%);
  padding: 1.25em;
  /* animation of padding change */
  transition: all 0.5s ease;
  background-color: #fff;
}

#customers .customer-card {
  display: none;
  transition: opacity 2s ease;
  opacity: 0;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

#customers .customer-card.customer-active {
  display: block;
  animation: fadeIn 1s;
  opacity: 1;
}

#customers .customer-image {
  display: none;
}

#customers .customer-image.customer-active {
  display: block;
  animation: fadeIn 1s;
  opacity: 1;
}

#customers hr {
  border-color: #212121;
  width: 50%;
  margin-bottom: 0;
}

#customers .customer-image {
  position: relative;
}

#customers .customer-image img {
  border-radius: 20px;
  width: 100%;
  aspect-ratio : 1 / 0.66;
  object-fit: cover;
}

#customers .customer-image a {
  position: absolute;
  right: 2em;
  bottom: 2em;
  font-family:"bio-sans";
  background-color: var(--qfield-color);
  color: #fff;
  border-color: #ddd;
}

#customers .customer-image a:hover {
  border-color: #fff;
}

#testimonials {
  padding: 3em 0;
}

#testimonials>h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#testimonials .testimonials-container {
  max-width:1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#testimonials .testimonial {
  padding-bottom: 2em;
}

#testimonials .testimonial hr {
  border-color: #212121;
  width: 50%;
  margin-bottom: 0;
}

#testimonials .stars {
  color: #212121;
}
#testimonials cite, #customers cite {
  font-size: 0.8em;
  float: right;
}

#about {
  background-color: #21212105;
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
  margin: 50px auto 0px auto;
  width: 100%;
  position: relative;
  padding: 50px 0;
  color: #212121;
}

#about a, #about a:visited, #about a:focus {
  color:var(--qfield-color);
}

#about a:hover {
  color:var(--qfield-color);
  text-decoration:underline;
}

.media-object { width: 64px; height: 64px; padding-bottom: 30px }


/* CORNER RIBBON STYLING */

.corner-ribbon{
  width: 400px;
  color: #fff;
  position: fixed;
  text-align: center;
  top: 40px;
  line-height: 40px;
  z-index: 100000;
  background-color: #4c6dac;
}
.corner-ribbon a{
  color: #fff;
}
.corner-ribbon.right{
  right: -100px;
  left: auto;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

div.feature {
  padding: 3rem 1.5rem;
  height: 100%;
}

div.feature h2, div.feature p {
  color: rgb(33, 33, 33) !important;
}

div.feature img {
  width:150px;
}

div.explanation {
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 14pt;
  color: #212121;
}

/* sdgs page */
.sdg {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  clear: both;
}

.sdg img {
  float: left;
  margin-right: 20px;
}

.sdg h3 {
  text-align: left;
  margin-top: 0;
}

.sdg p.learn-more{
  text-align: right !important;
  font-weight: bolder;
}

#sdgs h2 {
  text-align: left;
}

#partner img {
  margin: 10px;
}

.social-links {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.linkedin-icon {
  filter: invert(18%) sepia(7%) saturate(749%) hue-rotate(172deg) brightness(96%) contrast(90%);
}

.support-button a {
  margin-left: 10px;
  padding: 5px 10px 5px 10px !important;
  background-color: #80cc28;
  border: 0.5px solid #80cc28 !important;
  color: #ffffff !important;
  text-align: center;
  border-radius: 32px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.support-button a:hover {
  background-color: #ffffff;
  border: 0.5px solid #80cc28 !important;
  color: #80cc28 !important;
  border-radius: 32px;
  text-decoration: none !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 784px !important;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

/* When menu is collapsed */
@media (max-width: 767px) {
  .support-button {
    width: 100%;
    max-width: none;
    border-radius: 0;
  }
  .support-button a {
    margin-right: 10px;
  }
  #navbar ul {
    float: none;
  }
}

@media (min-width: 570px) and (max-width: 767px) {
  .col-qf-4 {
    width: 33.33333333%;
    float:left;
  }
  .col-qf-6 {
    width: 50%;
    float:left;
  }
}

/* clients logos */
.client-logo {
  max-height: 60px;
  max-width: 150px;
  object-fit: contain;
  margin: 40px;
}
