CMakeLists.txt.user*
sha-*.diff
astyle.*.diff
*.prepare
*.orig
*.iml
*.autosave
.DS_Store
.idea
keystore.p12
QField.pro.user
QField.pro.user.*
/config.pri
/build*
/scripts/astyle
android/gradle.properties
android/local.properties
android/res/values/generated.xml
android/res/values-*_*/strings.xml
android/.idea
android/.build
android/.gradle
.idea
*~
keystore.p12
