CMakeLists.txt.user*
sha-*.diff
astyle.*.diff
*.prepare
*.orig
*.iml
QField.pro.user
QField.pro.user.*
config.pri
build*
android/gradle.properties
android/local.properties
android/res/values/generated.xml
android/.idea
android/.build
android/.gradle
*~
