CMakeLists.txt.user*
sha-*.diff
*.prepare
*.orig
*.iml
*.swp
*.pyc
__pycache__
*.autosave
.DS_Store
.idea
/keystore.p12
/QField.pro.user
/QField.pro.user.*
/config.pri
/build*
/platform/android/local.properties
/platform/android/res/values/generated.xml
/platform/android/res/values-*_*/strings.xml
/platform/android/.idea
/platform/android/.build
/platform/android/*.gradle
/platform/android/*.xml
/.vscode
*~
