[submodule "test/QGIS-Sampledata"]
	path = test/QGIS-Sampledata
	url = https://github.com/opengisch/QGIS-Sampledata.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
