<?xml version="1.0"?>
<manifest package="ch.opengis.qfield" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="%%VERSION_NAME%%" android:versionCode="%%VERSION_CODE%%" android:installLocation="auto">
  <application
    android:hardwareAccelerated="true"
    android:name="org.qtproject.qt5.android.bindings.QtApplication"
    android:label="@string/app_name"
    android:icon="@drawable/qfield_logo" >
    <activity
      android:name="ch.opengis.qfield.QFieldActivity"
      android:noHistory="true"
      android:icon="@drawable/qfield_logo"
      android:label="@string/app_name"
      android:screenOrientation="locked">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Git Revision -->
      <meta-data android:name="android.app.git_rev" android:value="@string/git_rev"/>
      <!-- Git Revision -->
    </activity>
    <activity-alias android:name="ch.opengis.qfield.QgsFileHandlerActivity" android:targetActivity="ch.opengis.qfield.QFieldActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="file" />
        <data android:host="*" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.qgs" />
        <data android:pathPattern=".*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.qgs" />
        <data android:pathPattern=".*\\.qgz" />
        <data android:pathPattern=".*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.qgz" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.qgz" />
      </intent-filter>
      <meta-data android:name="id" android:value="1"/>
    </activity-alias>

    <activity android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|locale|fontScale|keyboard|keyboardHidden|navigation"
              android:name="org.qtproject.qt5.android.bindings.QtActivity"
              android:launchMode="singleTop">
      <meta-data android:name="android.app.lib_name" android:value="@string/lib_name"/>
      <meta-data android:name="android.app.qt_sources_resource_id" android:resource="@array/qt_sources"/>
      <meta-data android:name="android.app.repository" android:value="default"/>
      <meta-data android:name="android.app.qt_libs_resource_id" android:resource="@array/qt_libs"/>
      <meta-data android:name="android.app.bundled_libs_resource_id" android:resource="@array/bundled_libs"/>
      <!-- Deploy Qt libs as part of package -->
      <meta-data android:name="android.app.bundle_local_qt_libs" android:value="-- %%BUNDLE_LOCAL_QT_LIBS%% --"/>
      <meta-data android:name="android.app.bundled_in_lib_resource_id" android:resource="@array/bundled_in_lib"/>
      <meta-data android:name="android.app.bundled_in_assets_resource_id" android:resource="@array/bundled_in_assets"/>
      <!-- Run with local libs -->
      <meta-data android:name="android.app.use_local_qt_libs" android:value="-- %%USE_LOCAL_QT_LIBS%% --"/>
      <meta-data android:name="android.app.libs_prefix" android:value="/data/local/tmp/qt/"/>
      <meta-data android:name="android.app.load_local_libs" android:value="-- %%INSERT_LOCAL_LIBS%% --"/>
      <meta-data android:name="android.app.load_local_jars" android:value="-- %%INSERT_LOCAL_JARS%% --"/>
      <meta-data android:name="android.app.static_init_classes" android:value="-- %%INSERT_INIT_CLASSES%% --"/>
      <!--  Messages maps -->
      <meta-data android:value="@string/ministro_not_found_msg" android:name="android.app.ministro_not_found_msg"/>
      <meta-data android:value="@string/ministro_needed_msg" android:name="android.app.ministro_needed_msg"/>
      <meta-data android:value="@string/fatal_error_msg" android:name="android.app.fatal_error_msg"/>
      <!--  Messages maps -->

      <!-- Splash screen -->
      <meta-data android:name="android.app.splash_screen" android:resource="@layout/splash"/>
      <!-- Splash screen -->

      <!-- Background running -->
      <!-- Warning: changing this value to true may cause unexpected crashes if the
                    application still try to draw after
                    "applicationStateChanged(Qt::ApplicationSuspended)"
                    signal is sent! -->
      <meta-data android:name="android.app.background_running" android:value="false"/>
      <!-- Background running -->
    </activity>

    <!-- Activity to choose a .qgs file to open -->
    <activity android:name="ch.opengis.qfield.QFieldProjectActivity" />

    <!-- Activity "Rate this app" -->
    <activity android:name="ch.opengis.qfield.QFieldAppRaterActivity" />

    <!-- Activity to get picture with the native camera -->
    <activity android:name="ch.opengis.qfield.QFieldCameraPictureActivity" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

    <!-- Activity to get picture from the gallery -->
    <activity android:name="ch.opengis.qfield.QFieldGalleryPictureActivity" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />

    <!-- Activity to open file externally -->
    <activity android:name="ch.opengis.qfield.QFieldOpenExternallyActivity" />

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="ch.opengis.qfield.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths">
        </meta-data>
    </provider>

  </application>
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
  <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" android:smallScreens="true"/>

  <!-- The permissions are specified manually. This way we do not request the microphone permissions which would be pulled in
       as dependent permissions because of qt multimedia. -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- The following comment will be replaced upon deployment with default features based on the dependencies of the application.
       Remove the comment if you do not require these default features. -->
  <!-- %%INSERT_FEATURES -->
  <uses-feature android:name="android.hardware.location.gps" />
</manifest>
