.navbar-brand img {
    width: auto;
    height: 2em;
    margin-top: -0.5em;
}

.navbar-default {
    background-color: #80cc28;
}

.navbar-default a,
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-default a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
    background-color: #ffffff;
    color: #2c3e50;
}
a, a:hover {
    color: #80cc28;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #80cc28;
}

.bs-sidenav{
    background-color: #e6f5d5;
    text-shadow: none;
}

.bs-sidenav .nav > li > a {
    color: #2c3e50;
}

.bs-sidenav .nav > li > a:hover, .bs-sidenav .nav > li > a:focus {
    background-color: #80cc28;
}

.navbar-version {
    visibility: hidden;
}
