[Desktop Entry]
Type=Application
Version=1.0
Name=QField
GenericName=QField
Comment=QField
Icon=qfield
Terminal=false
Exec=qfield %F
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-mapinfo-mif;application/x-esri-shape;
Categories=Qt;Utility;
